
.features {
background-color: var(--next-color);    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    list-style: none;
    margin: -15px;
}

.features-items {
    width: 450px;
    margin: 15px;
        @media screen and (min-width: 768px) {
            width: calc((100% - 60px) / 2);
        }
    
        @media screen and (min-width: 1200px) {
            width: calc((100% - 120px) / 4);
        }
    }

    

.features-icons {
width: 100%;
height: 120px;
left: 215px;
top: 774px;
background: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;
justify-content: center;
@extend %flex-align;
}

.svg-icons {
background-position: center;
}

.features-title {
    @include font(null, 14px, 1.14, 0.03em);
color: var(--text-color); 
margin-bottom: 10px;   
}

.features-text {
    @include font(null, 14px, 1.71, 0.03em);
color: var(--secondery-text-color);
    margin-top: 10px;
    margin-bottom: 30;
margin-left: auto;
margin-right: auto;
    font-size: 14px;
    line-height: 1.7;
}
