.photo.section {
    padding-top: 0;
}


.photo-title,
.team-title,
.client-title {
    @include font(null, 36px, 1.17, 0.03em);
text-align: center;
color: var(--text-color);
margin-bottom: 50px;
}

.photo-list {
    display: flex;
}

.photo-gallery {
    position: relative;
    &:not(:last-child) {
    margin-right: 30px;
}
}



.photo-text {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    
font-family: 'Roboto';
font-style: normal;
@include font(700, 14px, 1.14, 0.03em);
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
background-color: rgba(47, 48, 58, 0.8);
padding-top: 27px;
padding-bottom: 27px;
}

